{% extends 'polls/base.html' %}

{% block main_content %}

{% if latest_questions %}
    <ul>
        {% for question in latest_questions %}
        <!-- <li><a href="/polls/{{ question.id }}"><b>{{ question.question_text}}</b></a> </li> -->
        <!--  polls:details - is referring to details in the polls namespace -> this is in mysites/urls -->
        <li><a href = {% url "polls:detail" question.id %}><b>{{ question.question_text}}</b></a> </li>
        {% endfor %}
    </ul>
{% else %}
   <p> There are no questions. You may add some. </p>
{% endif %}

{% endblock %}