li a {
    font-size: 20px;
    color: darkblue;
}

body {
    color: black;
    background: white url('images/nuvole.jpeg') no-repeat;
    /*background-size: 100% 100%; !* to stretch the image *!*/
}
